@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: rgb(186, 162, 0);
  background: rgb(226, 203, 49);
  background: linear-gradient(
    0deg,
    rgba(226, 203, 49, 1) 0%,
    rgba(255, 237, 116, 1) 50%,
    rgba(248, 244, 217, 1) 100%
  );

  color: #4d4415;
}
