@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #4d4415;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
canvas {
  height: 100vh;
  width: 100%;
}
